    body {
        background-image: url("../assets/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 110vh; 
        margin: 0;
        padding: 0; 
    }

    .header {
        background-color: rgba(190, 126, 30, 0.849); 
        border: 4px solid black;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
        display: flex;              /* Use flexbox for easy alignment */
        justify-content: space-between; /* Space between text and image */
        align-items: center;        /* Vertically center items */
    }

    .header-img {
        width: 120px;   /* Change width */
        height: auto;   /* Keep aspect ratio */
        object-fit: contain; /* Prevent distortion */
        margin-left: 85vw;
    }

    /* Optional: move image further right with margin */
    .right-image {
        margin-left: auto; /* Push image to the far right */
    }